<!DOCTYPE html>
<html ng-app="angularjsApp">
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <%= stylesheet_link_tag :application, media: :all %>

      <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <!-- ngRoute -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

    <!-- ngResource -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

    <%= javascript_include_tag :application %>
    <title>Angularjs-lab</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <a href="/">Home</a>
    </nav>
    <div ng-view></div>
    <%= yield %>
  </body>
</html>