body {
	margin-top: 25px;
}

#search-well {
	width: 200px;
}

#search-list {
	margin: 5px;
}

#question-body-form {
	height: 200px;
}

#answer-body-form {
	height: 125px;
}

#search-results-well {
	margin-top: -25px;
}

.glyphicon {
	margin-top: 8px;
}

#update-form {
	display: inline-block;
	width: 300px;
}

.icon {
	text-align: right;
	font-size: 30px;
}

#search {
	margin-bottom: 7px;
	margin-top: -5px;
}