<!DOCTYPE html>
<html ng-app="questionNAnswersApp">
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

  <!-- ngResource -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

  <%= javascript_include_tag 'application' %>

  <title>Question and Answers</title>
</head>
<body>
  <%= yield %>
</body>
</html>
