<form ng-submit="addQuestion()" class="form-inline">
	<div class="form-group">
		<input type="text" ng-model="newQuestion.ask" class="form-control" placeholder="Ask a question" autofocus>
	</div>
	<input type="submit" value="Save" class="btn btn-cta">
</form>
<div ng-repeat="question in allQuestions">
	<h3><a ng-href="/question/{{ question.id }}">{{ question.ask }}</a></h3>
	<button ng-click="editQuestion(question)">Edit</button>
	<div ng-show="question.editting">
		<form ng-submit="updateQuestion(question)" class="form-inline">
			<div class="form-group">
				<input type="text" value="{{question.ask}}" ng-model="question.ask" class="form-control" placeholder="Ask a question" autofocus>
			</div>
			<input type="submit" value="save" class="btn btn-cta">
		</form>
	</div>
	<button ng-click="deleteQuestion(question)">Delete</button>
	<div ng-show="question.deleting">
	</div>
</div>